<div class='header'>

 <div class='up'>
  <h1>MyMenu(マイページ)</h1>
 </div>

  <div class='down'>
    <ul class='lists-light'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

</div>


<div>
マイレシピ
  <% @recipes.each do |recipe|%>
      <li class='list' style="list-style-type: none;">
        <%= link_to recipe_path(recipe.id) do %>

          <div class='item-img-content'>
            <%= image_tag recipe.image, class: "item-img" %>
          </div>

          <div class='item-info'>
            <h3 class='item-name'>
              <%= recipe.recipe_name %>
            </h3>
          </div>

        <% end %>
      </li>
  <% end %>
</div>

<div>
お気に入りレシピ
</div>

<div>
今週の献立
</div>

<div>
冷蔵庫
</div>

<div>
買い物リスト
</div>

<div class='footer'>
フッター
</div>