<head>
  <meta charset="UTF-8">
  <title>マイページ</title>
  <link rel="stylesheet" href="assets/stylesheets/reset.css">
  <link rel="stylesheet" href="assets/stylesheets/users/show.css">
</head>

<body>

<div class='header'>

 <div class='up'>
  <h1><%=link_to 'MyMenu(マイページ)', root_path%></h1>
 </div>

  <div class='down'>
    <ul class='lists-light'>
      <% if user_signed_in? %>
        <li class='message'><%= link_to current_user.nickname, "/users/#{current_user.id}" %></li>
        <li class='message'><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class='message'><%= link_to '新規登録', new_user_registration_path %></li>
        <li class='message'><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

</div>


<div class='myrecipe'>
<h2 class='title'>マイレシピ</h2>

<div class= 'display'>
  <% @recipes.each do |recipe|%>
      <li class='list' style="list-style-type: none;">
        <%= link_to recipe_path(recipe.id) do %>

          <div class='item-img-content'>
            <%= image_tag recipe.image, class: "item-img" %>
          </div>

          <div class='item-info'>
            <h3 class='item-name'>
              <%= recipe.recipe_name %>
            </h3>
          </div>

        <% end %>
      </li>
  <% end %>
</div>

</div>

<div class='favorite'>
<h2 class='title'>お気に入りレシピ</h2>
</div>

<div class='thisweek'>
<h2 class='title'>今週の献立</h2>
<div class='form'>
<%= form_with model: @plan, url: plans_path, class: 'form' do |f| %>

  <%= f.label :曜日, class: 'lavel' %>
  <%= f.collection_select(:week_id, Week.all, :id, :name, {}, {class:"week-select"}) %>

  <%= f.label :レシピ, class: 'lavel' %>
  <%= f.select :recipe_number, options_from_collection_for_select( Recipe.all, :id, :recipe_name) %>

  <%= f.submit '保存' %>
  
<% end %>
</div>



<div class='calendar'>
  <% @week_days.each do |day| %>

    <div class='item'>

      <div class='date'>
        <%= day[:wday] %>
      </div>

      <ul class='content'>
      <% if day[:plans].length != 0 %>
        <% day[:plans].each do |plan| %>
          <li class='plan-list'>・<%= plan %></li>
        <% end %>
      <% end %>
      </ul>
      
    </div>

  <% end %>
</div>

 <%= link_to '一括削除', plan_path{@plan.id}, method: :delete, class:'button2'%>
 </div>





  <div class='stock'>
    <h2 class='title'>冷蔵庫にあるもの</h2>

    <div class='big'>

      <div class='photo'>
      <%= image_tag "stock.png", class:"photo2" %>
      </div>

      <div class='small'>
        <%= form_with model: @stock, url: refrigerators_path, class: 'form2' do |f| %>
          <%= f.label :在庫を入力, class: 'lavel' %>
          <%= f.text_field :stock, class: 'text-input' %>

          <%= f.submit '保存' %>
        <% end %>

        <div class='list2'>
        <ul class='aaa'>
          <% @stocks.each do |item|%>
            <li class='listli' style="list-style-type: disc;">
            <%= item %>
            </li>
          <% end %>
        </ul>
        </div>

        <br>
        <%= link_to '一括削除', refrigerator_path{@stock.id}, method: :delete, class:'button3'%>
      </div>

  </div>

  <div class='shopping'>
    <h2 class='title'>買い物リスト</h2>

      <div class='big'>

        <div class='photo'>
        <%= image_tag "bug.png", class:"photo2" %>
        </div>

        <div class='small'>
          <div class='list2'>
          <ul class='aaa'>
            <% @ingredients.each do |item|%>
              <li class='listli' style="list-style-type: disc;">
              <%= item %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>

      </div>

  </div>



<div class='footer'>
MyMenu
</div>

</body>