<head>
  <meta charset="UTF-8">
  <title>マイページ</title>
  <link rel="stylesheet" href="assets/stylesheets/reset.css">
  <link rel="stylesheet" href="assets/stylesheets/users/show.css">
</head>

<div class='header'>

 <div class='up'>
  <h1>MyMenu(マイページ)</h1>
 </div>

  <div class='down'>
    <ul class='lists-light'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

</div>


<div>
マイレシピ
  <% @recipes.each do |recipe|%>
      <li class='list' style="list-style-type: none;">
        <%= link_to recipe_path(recipe.id) do %>

          <div class='item-img-content'>
            <%= image_tag recipe.image, class: "item-img" %>
          </div>

          <div class='item-info'>
            <h3 class='item-name'>
              <%= recipe.recipe_name %>
            </h3>
          </div>

        <% end %>
      </li>
  <% end %>
</div>

<div>
お気に入りレシピ
</div>

<div>
今週の献立

フォーム
<div class='form'>
<%= form_with model: @plan, url: plans_path, class: 'form' do |f| %>

  <%= f.label :曜日を選択, class: 'lavel' %>
  <%= f.collection_select(:week_id, Week.all, :id, :name, {}, {class:"week-select"}) %>

  <%= f.label :レシピを選択, class: 'lavel' %>
  <%= f.select :recipe_number, options_from_collection_for_select( Recipe.all, :id, :recipe_name) %>

  <%= f.submit '保存' %>
  
<% end %>
</div>

スケジュール

<div class='calendar'>
  <% @week_days.each do |day| %>

    <div class='item'>

      <div class='date'>
        <%= day[:wday] %>
      </div>

      <ul class='content'>
      <% if day[:plans].length != 0 %>
        <% day[:plans].each do |plan| %>
          <li class='plan-list'>・<%= plan %></li>
        <% end %>
      <% end %>
      </ul>
      
    </div>

  <% end %>
</div>

 <%= link_to '一括削除', plan_path{@plan.id}, method: :delete %>


<div>
冷蔵庫
</div>

<div>
買い物リスト
<%= @ingredients %>
</div>

<div class='footer'>
フッター
</div>